body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;background-image: url(img.jpg);background-size: cover;opacity: .9;
  }
  
  #auth_container, #user_container {
    background-color: #1e1e1e;
    padding: 20px;width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  input {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 5px solid #333;
    border-radius: 10px;
    background-color: #2e2e2e;
    color: #e0e0e0;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #6200ea;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6200ea;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #3700b3;
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #user_container {
    opacity: 0;
  }
  
  #user_container[style*="display: block"] {
    opacity: 1;
  }
  